

#colorNav > ul{
	width: 550px; /* Increase when adding more menu items */
	margin:0 auto;
}

#colorNav > ul > li{ /* will style only the top level li */
	
	display: inline-block;
	position:relative;
	border-radius: 15px;
	background-color: rgb(208,101,3);
	width: 80px;
	height: 70px;
	float:left;
	transition: height .4s;
	border-radius: 5%;
	-webkit-transition: height .4s;
	-webkit-border-radius: 5%;
	-moz-transition: height .4s;
	-moz-border-radius: 5%;
	-ms-transition: height .4s;
	-ms-border-radius: 5%;
	-o-transition: height .4s;
	-o-border-radius: 5%;
	margin-left: 3px;
	z-index: 3;
	}

}

#colorNav > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:24px;
	padding: 10px;
	z-index: 3;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:180px;
	left:50%;
	margin-left:-90px;
	top:70px;
	font: 12px 'Sans-Serif', Sans-Serif;
	
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
	z-index: 2;
}

#colorNav li ul li{
	background-color:#313131;
	z-index: 2;
}

#colorNav li ul li a{
	padding:12px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
	z-index: 2;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
	z-index: 2;
}

#colorNav li ul li:hover{
	background-color:#006e6e;
	-webkit-transition: height .4s;
	-webkit-border-radius: 5%;
z-index: 2;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top: 7px;
	position:relative;
	z-index: 2;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:50%;
	top:-10px;
	margin-left:-5px;
	z-index: 2;


}

#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

/* This will trigger the CSS */
/* transition animation on hover */

#colorNav li:hover ul{
	max-height:800px; /* Increase when adding more dropdown items */

z-index: 2;
}


/*----------------------------
	Color Themes
-----------------------------*/


#colorNav li.green{
	/* This is the color of the menu item */
	background-color: rgb(208,101,3);
	
	/* This is the color of the icon */
	color:#127a5d;
}

#colorNav li.red{		background-color: rgb(233,147,26)}
#colorNav li.blue{		background-color: rgb(22,145,190)}
#colorNav li.yellow{	background-color: rgb(22,107,162)}
#colorNav li.purple{	background-color: rgb(21,40,54)}
#colorNav li.purple2{	background-color: rgb(43,80,109)}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
